/** CSS STYLE **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body,
section,
header,
main,
footer {
  box-sizing: border-box;
  margin: 0 auto;
  color: #2a2626;
  font: 16px/1.6 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  margin: 0 auto;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.header {
  display: block;
  background-color: #f5f4f0;
  height: 914px;
}

.container {
  width: 1110px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header::before,
.distortion-screen-light::before,
.distortion-screen-dark::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header::before {
  height: 914px;
}

.title {
  font-family: 'Neucha', cursive;
  font-style: normal;
  font-weight: normal;
  line-height: 86px;
}

.title > .orange {
  color: #fe8a02;
}

.columns-2 {
  column-width: 540px;
  height: auto;
  column-count: 2;
}

.header .columns-2 {
  margin-top: 200px;
}

.columns-2 p {
  margin: 0;
}

.toto-image {
  position: absolute;
  height: 525px;
  top: 50px;
  right: -270px;
  z-index: 2;
}

.button {
  display: block;
  width: 148px;
  height: 49px;
  padding: 12px 24px;
  margin-top: 40px;
  margin-left: 570px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  background-color: #fe8a02;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.video-section {
  padding: 0;
  position: relative;
  height: 804px;
}

.centered-text {
  text-align: center;
}

.video-section .title {
  line-height: 72px;
}

.video-section article {
  margin: 27px 0 27px 0;

}

.video {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 1;
}

/* .bottom-rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background: #42413c;
  z-index: -1;
} */

.navigation {
  background: #42413c;
}

.navigation .container {
  height: 891px;
  padding: 0;
  padding-top: 100px;
}

.navigation .flex-container {
  margin-top: 100px;
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
  flex-wrap: wrap;
}

.navigation .flex-container .title {
  padding: 0;
  font-family: 'Neucha', cursive;
  font-size: 52px;
  line-height: 120%;
  color: #fff;
  background: #42413c;
}

.flex-container .distortion {
  box-sizing: border-box;
  width: 350px;
  max-height: 348px;
  padding: 24px;
  background: #f5f4f0;
  display: block;
  text-decoration: none;
  color: #42413c;
}

.distortion .number {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;
}

.distortion-title {
  margin-bottom: 16px;
  font-family: 'Neucha', cursive;
  font-size: 34px;
  line-height: 120%;
  color: #fe8a02;
}

.distortion-descr {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #2a2626;
}

.distortion-screen-light {
  position: relative;
  background: #f5f4f0;
}

.distortion-image {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortion-top {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.cognitive-distortion-title {
  font-family: 'Neucha', cursive;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
}

.brief {
  margin-top: 30px;
  font-family: 'Neucha', cursive;
  font-size: 34px;
  line-height: 41px;
}

.explanation-title {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  background: #b09a81;
}

.distortion-screen-dark {
  position: relative;
  color: #fff;
  background: #b09a81;
}

.distortion-screen-dark .explanation-title {
  color: #b09a81;
  background: #fff;
}

.distortion-screen-dark .cognitive-distortion-title {
  color: #d7ccc0;
}

.subscription-form {
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #42413c;
  color: #fff;
}

.suscription-title {
  padding: 55px;
  font-family: 'Neucha', cursive;
  font-size: 34px;
  line-height: 120%;
}

.subscription-input {
  padding: 38px 55px 40px 0;
}

.input-title {
  font-size: 18px;
  line-height: 160%;
}

.input-container {
  display: flex;
}

.email-input {
  margin-top: 9px;
  height: 50px;
  width: 423px;
}

.email-input-btn {
  height: 50px;
  width: 70px;
  margin-top: 9px;
  position: relative;
  background: #fe8a02;
}

.email-input-btn::before {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 22px;
  top: 14px;
  content: '';
  background: url('../images/send.svg') center center/cover no-repeat;
}

.input-terms {
  font-size: 12px;
  line-height: 160%;
}

.copyright-and-resourses {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
  line-height: 160%;
}

.copyright-and-resourses div {
  margin-top: 16px;
}

.button:hover,
.email-input-btn:hover {
  background: #ea7600;
}

.distortion:hover,
.distortion:hover > .distortion-title,
.distortion:hover > .distortion-descr {
  color: #fff;
  background: #fe8a02;
}
