/** CSS STYLE **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
/* font-family: 'Neucha', cursive; */

* {
  padding: 0;
  margin: 0;
  border: 0;
}


body,
section {
  box-sizing: border-box;
  /* width: 100vw;
  height: 100vh; */
  margin: 0 auto;

  color: #2a2626;
  font: 16px/1.6 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  margin: 0 auto;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* section {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
} */

.header {
  background-color: #F5F4F0;
  height: 914px;
  padding-top: 50px;
}

.container {
  max-width: 1110px;
  height: 914px;
  margin: 0 auto;
  position: relative;
}

.header::before,
.distortion-screen-light::before,
.distortion-screen-dark::before {
  content: "";
  background: url('../images/background.png') center center/cover no-repeat;
  opacity: 0.1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.title {
  font-family: 'Neucha', cursive;
}

.title > .orange {
  color: #FE8A02;
}

.header .title {
  margin-bottom: 185px;
}

.columns-2 {
  column-count: 2;
  column-width: 540px;
  column-gap: 30px;
  column-fill: balance;
  height: auto;
  text-align: start;
}

.columns-2 p {
  margin: 0;

}

.toto-image {
  position: absolute;
  height: 525px;
  top: -78px;
  right: -270px;
}

.button {
  width: 148px;
  height: 49px;
  position: absolute;
  bottom: 250px;
  right: 390px;
  background-color: #FE8A02;
  border: none;
  /* padding: 12px 24px; */
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;

}

.video-section {
  height: 914px;
  padding: 0;
  position: relative;
}

.centered-text {
  text-align: center;
}

.video-section .title {
  padding-top: 100px;
}

.video-section article {
  margin: 30px 0 27px 0;

}

.video {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bottom-rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background: #42413c;
  z-index: -1;
}

.navigation {
  background: #42413c;

}

.navigation .container {
  height: 891px;
}

.navigation .title {

}

.navigation .flex-container {
  display: flex;
  gap: 29px;
  flex-wrap: wrap;
  padding: 100px 0;
}

.navigation .flex-container .title {
  font-family: 'Neucha', cursive;
  font-size: 52px;
  line-height: 120%;
  color: #fff;
  background: #42413c;
  padding: 0;
}

.flex-container .distortion {
  box-sizing: border-box;
  width: 350px;
  max-height: 348px;
  padding: 24px;
  background: #F5F4F0;
}

.distortion .number {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;
}

.distortion .distortion-title {
  font-family: 'Neucha', cursive;
  font-size: 34px;
  line-height: 120%;
  color: #FE8A02;
  margin-bottom: 16px;
}

.distortion .distortion-descr {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #2A2626;
}

.distortion-screen-light {
  padding: 100px 0;
  height: 914px;
  background: #F5F4F0;
  position: relative;
}

.distortion-top {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.cognitive-distortion-title {
  font-family: 'Neucha', cursive;
  font-size: 24px;
  line-height: 29px;
}

.brief {
  margin-top: 30px;
  font-family: 'Neucha', cursive;
  font-size: 34px;
  line-height: 41px;
}

.explanation-title {
  width: 100%;
  padding: 5px 10px;
  background: #B09A81;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.explanation-article p {
  height: 125px;
}

.distortion-screen-dark {
  padding: 100px 0;
  height: 914px;
  background: #B09A81;
  position: relative;
  color: #fff;
}

.distortion-screen-dark .explanation-title {
  color: #B09A81;
  background: #FFFFFF;
}

.distortion-screen-dark .cognitive-distortion-title {
  color: #D7CCC0;
}