@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-color: #2a2626;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
section,
header,
main,
footer {
  box-sizing: border-box;
  margin: 0 auto;

  color: var(--font-color);
  font: 16px/1.6 "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin: 0 auto;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.header {
  display: block;
  height: 914px;

  background-color: var(--light);
}

.container {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header::before,
.distortion-screen-light::before,
.distortion-screen-dark::before {
  position: absolute;
  content: "";

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header::before {
  height: 914px;
}

.title {
  font-weight: normal;
  font-family: "Neucha", cursive;
  font-style: normal;
  line-height: 86px;
}

.title > .orange {
  color: var(--main-color);
}

.columns-2 {
  height: auto;

  column-count: 2;
  column-width: 540px;
}

.header .columns-2 {
  margin-top: 200px;
}

.columns-2 p {
  margin: 0;
}

.toto-image {
  position: absolute;
  top: 50px;
  right: -270px;
  z-index: 2;
  height: 525px;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 148px;

  height: 49px;
  margin-top: 40px;
  margin-left: 570px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  
  border: none;
  background-color: var(--main-color);

  cursor: pointer;
}

.video-section {
  position: relative;

  height: 806px;
  padding: 0;
}

.centered-text {
  text-align: center;
}

.video-section .title {
  line-height: 72px;
}

.video-section article {
  margin: 27px 0 32px 0;
}

.video {
  z-index: 1;

  display: block;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation {
  background: var(--main-dark);
}

.navigation .container {
  height: 891px;
  padding: 0;
  padding-top: 100px;
}

.navigation .flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  row-gap: 20px;

  column-gap: 30px;
}

.navigation .flex-container .title {
  padding: 0;

  color: #fff;
  font-size: 52px;
  font-family: "Neucha", cursive;
  line-height: 120%;

  background: var(--main-dark);
}

.flex-container .distortion {
  display: block;
  box-sizing: border-box;
  width: 350px;
  max-height: 348px;
  padding: 24px;

  color: var(--main-dark);
  text-decoration: none;

  background: var(--light);
}

.distortion .number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.distortion-title {
  margin-bottom: 16px;

  color: var(--main-color);
  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 120%;
}

.distortion-descr {
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 26px;
}

.distortion-screen-light {
  position: relative;

  background: #f5f4f0;
}

.distortion-image {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortion-top {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.cognitive-distortion-title {
  font-weight: normal;
  font-size: 24px;
  font-family: "Neucha", cursive;
  line-height: 29px;
}

.brief {
  margin-top: 30px;

  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 41px;
}

.explanation-title {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 17px;
  text-transform: uppercase;

  background: var(--brown);
}

.distortion-screen-dark {
  position: relative;

  color: var(--white);

  background: var(--brown);
}

.distortion-screen-dark .explanation-title {
  color: var(--brown);

  background: var(--white);
}

.distortion-screen-dark .cognitive-distortion-title {
  color: var(--translucent-white);
}

.subscription-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 190px;
  
  color: var(--white);
  
  background: var(--main-dark);
}

.suscription-title {
  padding: 55px;
  
  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 120%;
}

.subscription-input {
  padding: 38px 55px 40px 0;
}

.input-title {
  font-size: 18px;
  line-height: 160%;
}

.input-container {
  display: flex;
}

.email-input {
  width: 423px;
  height: 50px;
  margin-top: 9px;
}

.email-input-btn {
  position: relative;

  width: 70px;
  height: 50px;
  margin-top: 9px;

  background: var(--main-color);
}

.email-input-btn::before {
  position: absolute;
  top: 14px;
  left: 22px;
  width: 25px;
  height: 25px;

  background: url("../images/send.svg") center center/cover no-repeat;
  content: "";
}

.input-terms {
  font-size: 12px;
  line-height: 160%;
}

.copyright-and-resourses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;

  font-size: 14px;
  line-height: 160%;
}

.copyright-and-resourses div {
  margin-top: 16px;
}

.button:hover,
.email-input-btn:hover {
  background: #ea7600;
}

.distortion:hover,
.distortion:hover > .distortion-title,
.distortion:hover > .distortion-descr {
  color: var(--white);

  background: var(--main-color);
}
